<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="StrategyServices.Users.UserService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.Users.IUserService" />
      </service>
      <service name="StrategyServices.Versions.VersionService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.Versions.IVersionService" />
      </service>
      <service name="StrategyServices.Languages.LanguageService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.Languages.ILanguageService" />
      </service>
      <service name="StrategyServices.States.StateService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.States.IStateService" />
      </service>
      <service name="StrategyServices.Regions.RegionService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.Regions.IRegionService" />
      </service>
      <service name="StrategyServices.Businesses.BusinessService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.Businesses.IBusinessService" />
      </service>
      <service name="StrategyServices.Actions.ActionService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.Actions.IActionService" />
      </service>
      <service name="StrategyServices.News.NewService">
        <endpoint binding="basicHttpBinding" contract="StrategyServices.News.INewService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>